<div class="row">
      <div class="column"  *ngFor="let elemento of magazzini">
          <div class="card-group">
              <div class="card p-3" >
                <div class="card-body">
                  <h5 class="card-title">{{elemento.nome}}</h5>
                  <p class="card-text"> {{elemento.via}} {{n_civico}} {{elemento.citta}} {{elemento.cap}}</p>
                  <p class="card-text">Metratura: {{elemento.metratura}}</p>
                  <p class="card-text">Altezza: {{elemento.altezza}}, Capacita: {{elemento.capacita}}</p>
                </div> 

              </div>
              
            </div>
      </div>

    </div>
    <app-dettaglio></app-dettaglio>