<div class="row">
      <div class="column"  *ngFor="let elemento of magazzini">
          <div class="card-group">
              <div class="card p-3" >
                <div class="card-body">
                  <h5 class="card-title">{{elemento.nome}}</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                  <button type="button" class="btn btn-primary btn-lg btn-block">Dettagli</button>
                </div>
              </div>
              
            </div>
      </div>

    </div>



    <!--<div class="card-group">
    <div class="card p-3"  *ngFor="let elemento of magazzini">
      <div class="card-body">
        <h5 class="card-title">{{elemento.nome}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary btn-lg btn-block">Primary</button>
      </div>
    </div>
    
  </div>
  -->