<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Header</title>
</head>

<body>
  <div id="page">
    <header id="header">
      <div id="header-inner">
        <div id="logo">
          <h1><a href="#">Home<span>Logo</span></a></h1>
        </div>
        <div id="top-nav">
          <ul>
            <li> <input type="text" placeholder="Search.." name="search"></li>
            <li><a href="#">Categorie</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">Carrello</a></li>

          </ul>
        </div>
        <div class="clr"></div>
      </div>
    </header>
  </div>
</body>

</html>