<div class="container" style="margin-top: 120px; background-color: yellow;">
    <div class="row ">
        <h2 class="product-price ">{{prodotto.prezzo}}€</h2>
    </div>
    <div class="row text-center" style="margin-top: 50px;">
        <button type="button" class="btn btn-primary btn-lg text-center" (click)="openAlert('carrello')">Aggiungi al carrello</button>
    </div>

    <div class="row" style="margin-top: 50px;">
        <div class="col-md-6 text-center " style="background-color: lightcoral">
            <span class=" monospaced ">In Stock (FORNITORE LOGISTICA)</span>
        </div>
        <div class="col-md-6 col-md-offset-1 text-center ">
            <button type="button " class="btn btn-secondary btn-lg" (click)="openAlert('wishlist')">Aggiungi a wishlist</button>
        </div>
    </div>
</div>

<div *ngIf="isWishlistAlertOpen">
    <app-alert-component [typeAlert]="'primary'" [messageAlert]="'Prodotto aggiunto alla wishlist con successo!'"></app-alert-component>
</div>