<!--<h1 class="display-4">Produttore</h1>
<div class="row">
  <div *ngFor="let elemento of produttore" class="card" style="width: 18rem;">
    <div class="card-body">
      <p class="card-title"> {{elemento.nome}}</p>
      <p class="card-text">Via {{elemento.via}}</p>
      <p class="card-text">Numero Civico {{elemento.n_civico}}</p>
      <p class="card-text">Citta': {{elemento.citta}}</p>
      <p class="card-text">Cap: {{elemento.cap}}</p>
    </div>
  </div>
</div>-->
<div class="row">
    <div class="column" *ngFor="let elemento of produttore">
        <div class="card-group">
            <div class="card p-3" >
              <div class="card-body">
                <h5 class="card-title">{{elemento.nome}}</h5>
                <div class="card-footer">
                  <p class="p-3 mb-2 bg-primary text-white">Via {{elemento.via}} {{elemento.n_civico}} {{elemento.citta}} </p>
                  <p class="p-3 mb-2 bg-primary text-white">Cap {{elemento.cap}}</p>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>